body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}
.container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 200px #000000;
}
.AdUser{
    border: black;
    
}